@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

#header-section {
  height: 80rem;
  background-color: rgba(255, 144, 14, 0.1);
}

.display-flex {
  display: flex;
}
.nav-container {
  max-width: 1350px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 90px 0;
}
.nav-container h3 {
  color: rgba(19, 19, 19, 1);
  font-size: 45px;
  font-weight: 700;
}
.nav-container .nav-links {
  align-items: center;
}
.nav-links li {
  list-style: none;
}
.nav-links .nav-items {
  text-decoration: none;
  color: rgba(66, 66, 66, 1);
  margin-right: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

/* banner section */

.banner {
  max-width: 1350px;
  margin: 0 auto;
}

.banner-text {
  text-align: center;
}
.banner-text h2 {
  color:  rgba(19, 19, 19, 1);
  font-size: 64px;
  font-weight: 700;
}
.banner-text p {
  color: rgba(114, 114, 114, 1);
  font-size: 16px;
  font-weight: 400;
  margin: 30px 0;
}
button {
  background-color: rgba(255, 144, 14, 1);
  padding: 15px 25px;
  font-size: 20px;
  color: white;
  font-weight: 800;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 1s;
}
button:hover {
  background-color: rgb(238, 128, 3);
}
.banner-image {
  margin: 50px 0;
}
.banner-image img {
  width: 100%;
}

/* main section starts */
main {
  max-width: 1350px;
  margin: 0 auto;
}

#featured {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin: 80px 0 120px 0;
}
.featured-text h3 {
  font-size: 45px;
  font-weight: 400;
}

.featured-text p {
  color: rgba(114, 114, 114, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 20px 0 30px 0;
}

.featured-text .span1 {
  color: rgba(255, 144, 14, 1);
}
.featured-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.featured-image img {
  width: 100%;
}

/* facts section starts */
.facts-text h3 {
  color: rgba(19, 19, 19, 1);
  font-size: 45px;
  font-weight: 700;
}
.facts-text p {
  color: rgba(114, 114, 114, 1);
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0 90px 0;
}

.fact-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 160px;
}

.fact-cards .card-child {
  border-radius: 8px;
  border: 2px solid orange;
}

.card-child .div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 58px 36px;
}

.div1 h3 {
  margin: 10px 0;
}

/* sponspor section */
#sponspor {
  margin-top: 140px;
}
.sponspor-text {
  text-align: center;
}
.sponspor-text h2 {
  color:  rgba(19, 19, 19, 1);
  font-size: 45px;
  font-weight: 700;
}

.sponspor-text p {
  color:  rgba(114, 114, 114, 1);
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
}
.sponspor-icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 50px;
}
.sponspor-icons img {
  color: gray;
}

footer {
  max-width: 1350px;
  margin: 120px auto;
  border-radius: 8px;
  background: rgba(255, 244, 231, 1);
  
}
footer p{
color:  rgba(66, 66, 66, 1);
font-size: 20px;
font-weight: 400;
padding: 40px 400px;
}


/* skills section */

#skills{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 130px;
    margin-bottom: 170px;
}
.skills-title{
    flex: 1;
}
.skills-title h1{
border-left: 5px solid rgba(255, 144, 14, 1);
color: rgba(19, 19, 19, 1);
font-size: 45px;
font-weight: 700;
}
.skills-title p{
color:  rgba(114, 114, 114, 1);
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin: 20px 0 25px 0;
}
.skills-img{
    flex: 1;
    width: 100%;
   
}
.image img{
     height: 850px;
}
.card{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 2px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.card h4{
color: rgba(19, 19, 19, 1);
font-size: 20px;
font-weight: 600;
}
.card p{
color: rgba(114, 114, 114, 1);
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.skills-cards .card{
    padding: 30px 32px;
}

.skill-btn{
 margin-top: -80px;
 margin-left: -95px;
}
.skill-btn div{
    padding: 40px 36px;
}
/* responsive design */

@media screen and (max-width: 576px) {
  .nav-container,
  .nav-links,
  #featured {
    flex-direction: column;
  }
  .nav-container {
    padding: 20px 65px;
  }
  .banner-text {
    margin: 0 5px;
  }
  .featured-text {
    margin: 0 10px;
  }
  .featured-image,
  .fact-cards,
  .sponspor-icons,
  #skills {
    grid-template-columns: repeat(1, 1fr);
  }
  .facts-text {
    margin: 0 10px;
  }
  .sponspor-icons {
    gap: 10px;
    margin-left: 140px;
  }
  .fact-cards {
    gap: 20px;
  }
  .card-child .div1 {
    padding: 20px 10px;
  }
  .skill-btn{
 margin-top: 20px;
 margin-left: 20px;
}
  footer p{
    font-size: small;
    padding: 10px 100px;
  }
}
